<template>
  <div class="flex w-auto">
    <draggable
        class="flex w-auto"
        :list="sections"
        group="sections"
        v-bind="dragOptions"
        @start="drag = true"
        @end="drag = false"
        @change="log"
    >
        <TaskSection
            class="justify-start w-80 mx-3"
            v-for="section in sections"
            :key="section.id"
            :section="section"
        ></TaskSection>
    </draggable>
    <button class="flex justify-center items-center gap-x-1 w-50 h-10 px-4 py-2 rounded border bg-blue-400 text-white" @click="addSection">
      <fa-icon icon="plus"></fa-icon> Add
    </button>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import TaskSection from "./TaskSection";
export default {
  name: "Tasks",
  components: {TaskSection},
  data() {
    return {
      drag: false
    }
  },
  computed :{
    ...mapGetters({sections : '_getSections'}),
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  methods: {
    log(event){
      this.$store.dispatch('updateSections', this.sections)
      console.log("SECTION CHANGE", event)
    },
    addSection() {
      this.$store.dispatch('addSection', {
        id: this.$uuid.v1(),
        title : 'New Section',
        tasks : [],
        created_at : this.moment().format('YYYY-MM-DD HH:mm'),
        updatet_at : this.moment().format('YYYY-MM-DD HH:mm')
      })

    }
  },
}
</script>
