<template>
  <div class="flex flex-col bg-white rounded-sm border border-gray-200 shadow p-4">
    <div class="flex justify-between ">
      <TaskStatus v-model="task.status" @change="changeStatus"></TaskStatus>
      <div class="text-gray-300 cursor-pointer" @click="$emit('deleteTask', task)"><fa-icon icon="times"></fa-icon></div>
    </div>

    <div @click="editTask" class="text-lg font-normal py-5">
      <span v-if="!status">{{task.name}}</span>
      <input
          class="px-4 py-2"
          ref="taskName"
          type="text"
          v-model="task.name"
          @keydown.enter="updateTask"
          @keydown.esc="cancelEdit"
          @blur="cancelEdit"
          v-else
      >
    </div>

    <div class="flex items-center justify-between text-sm">
      <div class="text-sm text-gray-400">{{ moment(task.updated_at).format('DD MMM ddd')}}</div>
      <div class="text-sm text-gray-500 flex justify-center items-center gap-x-1">
        <span v-if="task.bookmarks>0">{{task.bookmarks}}</span>
        <fa-icon :icon="['fas', 'bookmark']" v-if="task.bookmarks>0"></fa-icon>
        <fa-icon :icon="['far', 'bookmark']" v-else></fa-icon>
      </div>
    </div>

  </div>
</template>

<script>
import TaskStatus from "@/components/Task/TaskStatus";
export default {
  name: "TaskItem",
  components: {TaskStatus},
  props: {
    task : Object
  },
  data() {
    return {
      status : false,
      taskName : null
    }
  },
  methods: {
    cancelEdit(){
      this.task.name = this.taskName
      this.status = false
    },
    editTask() {
      this.taskName = this.task.name
      this.status = true
      this.$nextTick(()=>{
        this.$emit('stopDrag')
        console.log(this.$refs.taskName)
        this.$refs.taskName.focus()
      })
    },
    updateTask(){
      this.taskName = null
      this.status = false
      this.$emit('startDrag')
      this.$emit('updateSection')
    },
    changeStatus(event){
      this.task.status = event
      this.updateTask()
    }
  },
}
</script>
