<template>
  <div class="text-xs px-1 py-0.5 rounded-sm font-medium" :class="status" @click="editStatus" v-if="!edit">
    {{status.toUpperCase()}}
  </div>
  <select name="status" v-model="status" @change="changeStatus" @select="changeStatus" v-else>
    <option v-for="st in taskStatus" :key="st.value" :value="st.value">{{st.text}}</option>
  </select>
</template>

<script>
export default {
  name: "TaskStatus",
  props: {
    value : String
  },
  data() {
    return {
      status: this.value,
      edit : false,
      taskStatus : [
        { text : 'Pending', value : 'pending', class : 'bg-pending'},
        { text : 'Confirmed', value : 'confirmed', class : 'bg-confirmed'},
        { text : 'Active', value : 'active', class : 'bg-active'},
        { text : 'On Hold', value : 'onhold', class : 'bg-onhold'},
        { text : 'cancelled', value : 'cancelled', class : 'bg-cancelled'},
      ]
    }
  },
  methods: {
    editStatus() {
      this.edit = true
    },
    changeStatus(){
      this.edit = false
      this.$emit('change', this.status)
    }
  },
}
</script>
