<template>
  <div>
    <div class="flex justify-between items-center font-medium bg-gray-100 px-4 py-2 mb-4 border rounded-sm border-gray-200 shadow">
      <div @click="editSection">
        <span v-if="!status">{{section.title}}</span>

        <input
            type="text"
            ref="sectionTitle"
            v-model="section.title"
            @keydown.enter="updateSection"
            @keydown.esc="cancelEdit"
            @blur="cancelEdit"
            v-else
        >
      </div>
      <div class="flex gap-x-3">
        <div class="cursor-pointer" @click="addTask"><fa-icon icon="plus-circle" class="text-gray-600"></fa-icon></div>
        <div class="cursor-pointer" @click="deleteSection"><fa-icon icon="trash-alt" class="text-gray-600"></fa-icon></div>
      </div>
    </div>

    <draggable
        class="flex flex-col gap-y-4"
        v-model="section.tasks"
        group="tasks"
        v-bind="dragOptions"
    >
      <TaskItem
          v-for="task in section.tasks"
          :key="task.id"
          :task="task"
          @updateSection="updateSection"
          @deleteTask="deleteTask"
          @stopDrag="drag = false"
          @startDrag="drag = true"
      >
      </TaskItem>

    </draggable>
    <div class="h-3/4 bg-gradient-to-b from-gray-100 to-white text-center p-4 rounded-sm " v-if="section.tasks.length==0" >
      <button @click="addTask" class="flex items-center justify-center w-full "><fa-icon icon="plus"></fa-icon> Add Task</button>
    </div>

    <pre></pre>
  </div>
</template>

<script>
import TaskItem from "@/components/Task/TaskItem";
export default {
  name: "TaskSection",
  components:{TaskItem},
  props: {
    section : Object
  },
  data() {
    return {
      drag:false,
      status: false,
      sectionTitle : null
    }
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  methods: {
    editSection(){
      this.sectionTitle = this.section.title
      this.status=true
      this.$nextTick(()=>{
        this.$emit('stopDrag')
        this.$refs.sectionTitle.select()
      })
    },
    cancelEdit(){
      this.section.title = this.sectionTitle
      this.sectionTitle = null
      this.status = false
    },
    updateSection(){
      this.sectionTitle = null
      this.status=false
      this.$store.dispatch('updateSection', this.section)
    },
    deleteTask(task){
      this.section.tasks = this.section.tasks.filter(item=>{
        return item.id!=task.id
      })
      this.$store.dispatch('updateSection', this.section)
    },
    addTask() {
      this.section.tasks.push({
        id: this.$uuid.v1(),
        name: 'New Task',
        status : 'pending',
        bookmarks : 0,
        created_at : this.moment().format('YYYY-MM-DD HH:mm'),
        updated_at : this.moment().format('YYYY-MM-DD HH:mm')
      })
      this.$store.dispatch('updateSection', this.section)
    },
    deleteSection(){
      this.$store.dispatch('deleteSection', this.section)
    }
  },
}
</script>
