@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply font-ibm;
    }
}

.confirmed{
    background-color: #9B73AA;
    color:white;
}
.onhold{
    background-color: #BEBEBE;
    color:white
}
.cancelled{
    background-color: #EB5757;
    color:white
}
.pending{
    background-color: #D1B627;
    color:white
}
.completed{
    background-color: #27AE60;
    color:white
}
.active{
    background-color: #556783;
    color:white
}


.svg-inline--fa{
    width: 1em;
    height: 1em;
}
