<template>
  <div id="app" class="min-w-screen w-auto min-h-screen   flex">
    <Tasks></Tasks>
  </div>
</template>

<script>

import Tasks from "./components/Task/Tasks";
export default {
  name: 'App',
  components: {Tasks},
}
</script>
